main > section {
    margin-top: 1rem;
}

@media screen {
    main > section {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: flex-start;
        gap: 1rem;
        padding-bottom: 1rem;
        align-items: stretch;
    }
}