@media screen {
    main > section > article > figure {
        position: relative;
        min-height: 1.75rem;
        background-color: var(--background-color);
    }

        main > section > article > figure > img {
            width: 30rem;
            max-width: 30rem;
            box-shadow: 0.1rem 0.1rem 0.5rem var(--darker);
            box-shadow: 0.1rem 0.1rem 0.2rem 0rem var(--shadow);
        }

        main > section > article > figure > figcaption {
            display: none;
        }
}

@media print {
    main > section > article > figure > img {
        width: 30rem;
        max-width: 30rem;
    }

    main > section > article > figure > figcaption {
        padding: 0.25rem;
        padding-bottom: 0.5rem;
        font-style: italic;
        font-size: xx-small;
        text-align: right;
        padding-top: 0rem;
        color: var(--text-dark);
    }
}