z#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

tr:nth-child(even) {
    background: #F2F2F2;
    color: #111;
}

tr:nth-child(odd) {
    background: #FFF;
    color: #111;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

#loader {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

.loading #loader {
    z-index: 1000;
    backdrop-filter: blur(0.25rem);
    -webkit-backdrop-filter: blur(0.25rem);
    opacity: 1;
}